{% layout "layout.liquid" %}
{% block content %}

    <h1>Welcome to the Dream Restaurant Builder!
        </br>
        </br>
        Please Sign up or Log in to continue! 
    </h1>


{% endblock %}