{% block content %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Just an image -->
    <nav class="navbar navbar-light bg-light ml-3"></nav>
    <div class="container-fluid">
      <a
        href="/home"
        class="navbar-brand me-5"
        style="font-family: Georgia, serif; font-weight: bolder;">Dream Restaurant Buildr</a>
      {% if loggedIn %}
        <a
          href="/restaurant/mine"
          class="nav-link text-light me-5"
          style="font-family: Georgia, serif; font-weight: bolder; ">Hello {{ username }}
        </a>
      {% endif %}
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarNav"
        style="font-family: Georgia, serif; font-weight: bolder; ">
        {% if loggedIn %}
          <a href="/restaurant" class="nav-link text-light me-5">View All</a>
          <a href="/restaurant/new" class="nav-link text-light me-5">New</a>
          <a href="/restaurant/mine" class="nav-link text-light me-5">My Restaurants</a>
          <a href="/auth/logout" class="nav-link text-light me-5">Log Out</a>
        {% else %}
          <a href="/auth/signup" class="nav-link text-light me-5">Sign Up</a>
          <a href="/auth/login" class="nav-link text-light me-5">Log In</a>
        {% endif %}
      </div>
    </div>
  </nav>
{% endblock %}