{% block content %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Just an image -->
    <nav class="navbar navbar-light bg-light ml-3"></nav>
    <div class="container-fluid">
      <a href="/home" class="navbar-brand me-3">Dream Restaurant Buildr</a>
      {% if loggedIn %}
        <a href="/restaurant/mine" class="nav-link text-light me-3">Hello {{ username }}
        </a>
      {% endif %}
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        {% if loggedIn %}
          <a href="/restaurant" class="nav-link text-light me-3">View All</a>
          <a href="/restaurant/new" class="nav-link text-light me-3">New</a>
          <a href="/restaurant/mine" class="nav-link text-light me-3">My Restaurants</a>
          <a href="/auth/logout" class="nav-link text-light me-3">Log Out</a>
        {% else %}
          <a href="/auth/signup" class="nav-link text-light me-3">Sign Up</a>
          <a href="/auth/login" class="nav-link text-light me-3">Log In</a>
        {% endif %}
      </div>
    </div>
  </nav>
{% endblock %}