{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-sm">
    <form action="/restaurant" method="POST">
      <fieldset>
        <legend>Create New Restaurant</legend>
        <label class="form-label">Name:</label>
        <input
          type="text"
          name="name"
          placeholder="restaurant name"
          class="form-control"
          style="width: 36rem">
        <label class="form-label">Cuisine:</label>
        <input
          type="text"
          name="cuisine"
          placeholder="restaurant cuisine (ex: Sushi, Italian, American, etc)"
          class="form-control"
          style="width: 36rem">

        <label class="form-label">Location:</label>
        <input
          type="text"
          name="location"
          placeholder="city, state (or country)"
          class="form-control"
          style="width: 36rem">

      </fieldset>
      <input
        type="submit"
        value="Create New Restaurant"
        class="btn btn-success mt-3">
    </form>
  </div>
{% endblock %}