{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-sm">
    <form action="/restaurant" method="POST">
      <fieldset>
        <legend>Create New Restaurant</legend>
        <label class="form-label">Name:
        </label>
        <input
          type="text"
          name="name"
          placeholder="enter restaurant name"
          class="form-control">
        <label class="form-label">Cuisine:</label>
        <input
          type="text"
          name="cuisine"
          placeholder="enter restaurant cuisine (ex: Sushi, Italian, American, etc)"
          class="form-control">
        <label class="form-label">Menu Items:</label>
        <input
          type="text"
          name="menuItems"
          class="form-control">
        <label class="form-label">Owner/Location:</label>
        <input
          type="text"
          name="location"
          class="form-control">

      </fieldset>
      <input
        type="submit"
        value="Create New Restaurant"
        class="btn btn-success">
    </form>
  </div>
{% endblock %}